<div class="header-container"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

   <div class="site-name">ITBook</div>
  
   <div class="header-bar">
      <th:block sec:authorize="isAuthenticated()">
         Hello
         <a th:href="@{/account/accountInfo}" th:utext="${#request.userPrincipal.name}">..</a>
         &nbsp;|&nbsp;
         <a th:href="@{/account/logout}">Logout</a>
      </th:block>
      
      <th:block sec:authorize="!isAuthenticated()">
         <a th:href="@{/account/login}">Login</a>
         &nbsp;|&nbsp;
         <a th:href="@{/account/customer/register}">Register</a>
      </th:block>
   </div>
  
</div>