<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Shopping Cart Confirmation</title>
      <link rel="icon" type="image/x-icon" href="/images/icon.png">
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
      
      <div class="page-title">Confirmation</div>
      <div class="customer-info-container">
         <h3>Customer Information:</h3>
         <ul>
            <li>Username: <span th:utext="${accountInfo.userName}"></span></li>
            <li>Name: <span th:utext="${accountInfo.name}"></span></li>
            <li>Email: <span th:utext="${accountInfo.email}"></span></li>
            <li>Phone: <span th:utext="${accountInfo.phone}"></span></li>
            <li>Address: <span th:utext="${accountInfo.address}"></span></li>
         </ul>
         <h3>Cart Summary:</h3>
         <ul>
            <li>Quantity: <span th:utext="${myCart.quantityTotal}"></span></li>
            <li>Total:
               $<span class="total"
                  th:utext="${#numbers.formatDecimal(myCart.Total,2,2,'COMMA')}">  
               </span>
            </li>
         </ul>
      </div>
      <form method="POST" th:action="@{/account/shoppingCartConfirmation}">
         <!-- Edit Cart -->
         <a class="navi-item" th:href="@{/shoppingCart}">
         Edit Cart
         </a>
         <!-- Edit Customer Info -->
<!--         <a class="navi-item" th:href="@{/shoppingCartCustomer}">
         Edit Customer Info
         </a>		-->
         <!-- Send/Save -->
         <input type="submit" value="Send" class="button-send-sc" />
      </form>
      <div class="container">
         <div class="product-preview-container" th:each="cartLineInfo : ${myCart.cartLines}">
            <ul>
               <li>
                  <img class="product-image"
                     src="@{|/productImage?id=${cartLineInfo.productInfo.id}|}"/>
               </li>
               <li>
                  ID: <span th:utext="${cartLineInfo.productInfo.id}"></span>
                  <input
                     type="hidden" name="id" th:value="${cartLineInfo.productInfo.id}" />
               </li>
               <li>Title: <span th:utext="${cartLineInfo.productInfo.title}"></span></li>
               <li>Price:
                  $<span class="price"
                     th:utext="${#numbers.formatDecimal(cartLineInfo.productInfo.price,2,2,'COMMA')}">
                  </span>
               </li>
               <li>Quantity: <span th:utext="${cartLineInfo.quantity}"></span></li>
               <li>Subtotal:
                  $<span class="subtotal"
                     th:utext="${#numbers.formatDecimal(cartLineInfo.SubTotal,2,2,'COMMA')}">
                  </span>
               </li>
            </ul>
         </div>
      </div>
      
      <th:block th:include="/_footer"></th:block>
      
   </body>
</html>