<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Account Info</title>
      <link rel="icon" type="image/x-icon" href="/images/icon.png">
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
   <body>
   
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
      
      <div class="page-title">Account Info</div>
      <div class="customer-info-container">
      	<h3>Account Information:</h3>
         <ul>
            <li>Username: <span th:utext="${accountInfo.userName}"></span></li>
			<li th:utext="${accountInfo.userRole}"></li>
            <li>Name: <span th:utext="${accountInfo.name}"></span></li>
            <li>Email: <span th:utext="${accountInfo.email}"></span></li>
            <li>Phone: <span th:utext="${accountInfo.phone}"></span></li>
            <li>Address: <span th:utext="${accountInfo.address}"></span></li>
         </ul>
      </div>
      
      <th:block th:include="/_footer"></th:block>
      
   </body>
</html>