<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <link rel="icon" type="image/x-icon" href="/images/icon.png">
      <title>ITBook</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
      
      <div class="page-title"><h3>Welcome to ITBook!</h3></div>
      <img th:src="@{/images/home1.jpg}" class="center"/>
      
      <th:block th:include="/_footer"></th:block>
   </body>
</html>