<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Product List</title>
      <link rel="icon" type="image/x-icon" href="/images/icon.png">
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
      
      <div class="page-title">Order Info</div>
      
      <div class="customer-info-container">
         <h3>Customer Information:</h3>
         <ul>
         	<li>Username: <span th:utext="${registeredOrderInfo.userName}"></span></li>
            <li>Name: <span th:utext="${registeredOrderInfo.name}"></span></li>
            <li>Email: <span th:utext="${registeredOrderInfo.email}"></span></li>
            <li>Phone: <span th:utext="${registeredOrderInfo.phone}"></span></li>
            <li>Address: <span th:utext="${registeredOrderInfo.address}"></span></li>
         </ul>
         <h3>Order Summary:</h3>
         <ul>
            <li>Total:
               $<span class="total" th:utext="${#numbers.formatDecimal(registeredOrderInfo.total,2,2,'COMMA')}">         
               </span>
            </li>
         </ul>
      </div>
      <br/>
      <table border="1" style="width:100%">
         <tr>
            <th>Product ID</th>
            <th>Product Title</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
         </tr>
         <tr th:each="registeredOrderDetailInfo : ${registeredOrderInfo.details}">
            <td th:utext="${registeredOrderDetailInfo.productId}"></td>
            <td th:utext="${registeredOrderDetailInfo.productTitle}"></td>
            <td th:utext="${registeredOrderDetailInfo.quantity}"></td>
            <td th:utext="${#numbers.formatDecimal(registeredOrderDetailInfo.price,2,2,'COMMA')}"></td>
            <td th:utext="${#numbers.formatDecimal(registeredOrderDetailInfo.subTotal,2,2,'COMMA')}"></td>
         </tr>
      </table>
      
      <th:block th:include="/_footer"></th:block>
      
   </body>
</html>