<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
   <head>
      <meta charset="UTF-8">
      <title>Shopping Cart</title>
      <link rel="icon" type="image/x-icon" href="/images/icon.png">
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
      
      <div class="page-title">My Cart</div>
      
      <th:block th:if="${cartForm == null || cartForm.cartLines == null || cartForm.cartLines.empty}">
         <h2>There is no items in Cart</h2>
         <a th:href="@{/productList}">Show Product List</a>
      </th:block>
      
      <th:block th:if="${cartForm != null && cartForm.cartLines != null && !cartForm.cartLines.empty}">
         <form method="POST" th:object="${cartForm}" th:action="@{/shoppingCart}">
         
               <div class="product-preview-container"
                        th:each="cartLineInfo, varStatus : ${cartForm.cartLines}">
                  <ul>
                     <li><img class="product-image"
                        th:src="@{|/productImage?id=${cartLineInfo.productInfo.id}|}" />
                     </li>
                     <li>ID: <span th:utext="${cartLineInfo.productInfo.id}"></span>
                        <input type="hidden"       
                           th:name="|cartLines[${varStatus.index}].productInfo.id|"                        
                           th:value="${cartLineInfo.productInfo.id}" />
                     </li>
                     <li>Title: <span th:utext="${cartLineInfo.productInfo.title}"></span></li>
                     <li>Price:
                        $<span class="price"
                           th:utext="${#numbers.formatDecimal(cartLineInfo.productInfo.price,2,2,'COMMA')}">
                        </span>
                     </li>
                     <li>Quantity:
                        <input
                            th:name="|cartLines[${varStatus.index}].quantity|"
                            th:value="${cartLineInfo.quantity}" />
                     </li>
                     <li>Subtotal:
                        $<span class="subtotal"
                           th:utext="${#numbers.formatDecimal(cartLineInfo.SubTotal,2,2,'COMMA')}">
                        </span>
                     </li>
                     <li>
                        <a th:href="@{|/shoppingCartRemoveProduct?id=${cartLineInfo.productInfo.id}|}">
                        Delete
                        </a>
                     </li>
                  </ul>
               </div>
            
            <div style="clear: both"></div>
            <input class="button-update-sc" type="submit" value="Update Quantity" />
            

            <th:block sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_EMPLOYEE','ROLE_CUSTOMER')">
		    	<a class="navi-item" th:href="@{/account/shoppingCartConfirmation}">Confirm Information</a>
		    </th:block>
            <th:block sec:authorize="!isAuthenticated()">
            	<a class="navi-item" th:href="@{/shoppingCartCustomer}">Enter Customer Info</a>
            	<a class="navi-item" th:href="@{/account/customer/register}">Create An Account</a>    
            </th:block>           
            <a class="navi-item"
               th:href="@{/productList}">Continue Buy</a>
         </form>
      </th:block>
      
      <th:block th:include="/_footer"></th:block>
      
   </body>
</html>